* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "NAMU";
  src: url("/fonts/NAMU-1850.woff") format("woff");
  src: url("/fonts/NAMU-1850.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
body {
  background-color: #FBF0D1;
  font-family: NAMU, sans-serif;
}

.header__row {
  display: flex;
}
.header__column {
  flex: 0 1 33.333%;
}
.header__logo {
  width: 132px;
  height: 132px;
  padding: 19px 0 0 0;
}
.header__cloud {
  display: flex;
  justify-content: end;
  padding: 12px 0 0 0;
}
.header__second {
  position: relative;
}
.header__second:before {
  content: "";
  background: url("/img/ball.png") 0 0 no-repeat;
  position: absolute;
  z-index: 5;
  width: 268px;
  height: 268px;
  left: -89px;
  top: 33px;
}
.header__toggle {
  width: 58px;
  height: 58px;
  background-color: #EEB519;
  border-radius: 50%;
  margin: 0 0 0 12px;
}
.header__third {
  align-items: start;
  padding: 40px 0 0 50px;
}
@media (max-width: 1760px) {
  .header__cloud {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1220px) {
  .header {
    padding: 0;
  }
  .header__second {
    display: none;
  }
  .header__second:before {
    display: none;
  }
  .header__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 810px) {
  .header__logo a img {
    width: 74px;
    height: 74px;
  }
  .header__third {
    padding: 30px 0 0 0;
  }
  .header__toggle {
    width: 50px;
    height: 50px;
  }
  .header__third {
    display: flex;
    justify-content: end;
    position: relative;
  }
  .header__third:before {
    content: "";
    background: url("/img/cloud.png") 0 0/80px 80px no-repeat;
    position: absolute;
    z-index: 5;
    width: 268px;
    height: 268px;
    left: -89px;
    top: 33px;
  }
}
@media (max-width: 320px) {
  .header__third:before {
    display: none;
  }
}

.btn {
  height: 79px;
  width: 369px;
  display: inline-block;
  background-color: #EEB519;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

.social {
  display: flex;
}
.social__link {
  padding: 0 12px 0 0;
}
.social__link:nth-child(2) {
  padding: 0 16px 0 0;
}
.social__btn {
  padding: 10px 0 0 0;
  height: 58px;
  width: 305px;
}
.social__btn span {
  padding: 10px 0 0 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #14110F;
}
@media (max-width: 810px) {
  .social__link {
    padding: 0 10px 0 0;
  }
  .social__link:nth-child(2) {
    padding: 0 5px 0 0;
  }
  .social__link img {
    width: 50px;
    height: 50px;
  }
  .social__btn {
    display: none;
  }
}
@media (max-width: 320px) {
  .social__link {
    padding: 0 5px 0 0;
  }
  .social__link:nth-child(2) {
    padding: 0;
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toggle__block {
  margin: 12px 0 0 0;
}
.toggle__line {
  display: block;
  width: 33px;
  height: 2px;
  background-color: #FBF0D1;
  border-radius: 2px;
  margin: 0 0 10px 0;
}

.general__intro {
  display: flex;
  padding: 5px 0 0 0;
}

.intro__text-block {
  position: relative;
  margin: 0 25px 0 0;
}
.intro__text-block:after {
  content: "";
  background: url("/img/knight_intro.png") 0 0 no-repeat;
  position: absolute;
  z-index: 1;
  width: 268px;
  height: 268px;
  bottom: -117px;
  right: 125px;
}
.intro__column {
  flex: 1 1 auto;
}
.intro__column__first {
  padding: 36px 0 0 0;
}
.intro__title {
  font-style: normal;
  font-size: 77px;
  line-height: 92px;
  color: #14110F;
  max-width: 700px;
  padding: 8px 0 49px 0;
  letter-spacing: 1px;
}
.intro__subtitle {
  font-size: 36px;
  line-height: 43px;
  color: #14110F;
  max-width: 790px;
  padding: 0 0 70px 0;
}
.intro__image-block {
  position: relative;
}
.intro__image_center {
  width: 100px;
  height: 100px;
  outline: 1px dashed red;
  color: #14110F;
}
@media (max-width: 1760px) {
  .intro__title {
    font-size: 55px;
    line-height: 56px;
    padding: 0 0 55px 0;
  }
  .intro__subtitle {
    font-size: 33px;
    line-height: 40px;
    padding: 0 0 80px 0;
  }
  .intro__column__first {
    padding: 55px 0 0 0;
  }
  .intro__text-block:after {
    width: 211px;
    height: 263px;
    bottom: -108px;
    right: 72px;
  }
}
@media (max-width: 1530px) {
  .intro__title {
    font-size: 45px;
    line-height: 46px;
    padding: 0 0 45px 0;
  }
  .intro__subtitle {
    font-size: 23px;
    line-height: 35px;
    padding: 0 0 60px 0;
  }
  .intro__column__first {
    padding: 45px 0 0 0;
  }
  .intro__text-block:after {
    background: url("/img/knight_intro.png") 0 0/200px 200px no-repeat;
    width: 211px;
    height: 263px;
    bottom: -108px;
    right: 72px;
  }
}
@media (max-width: 1220px) {
  .intro__title {
    font-size: 33px;
    line-height: 46px;
    padding: 0 0 40px 0;
  }
  .intro__subtitle {
    font-size: 20px;
    line-height: 25px;
    padding: 0 0 45px 0;
  }
  .intro__column__first {
    padding: 30px 0 0 0;
    flex: 1 1 40%;
  }
  .intro__text-block:after {
    background: url("/img/knight_intro.png") 0 0/60% auto no-repeat;
    width: 211px;
    height: 263px;
    bottom: -148px;
    right: -133px;
  }
}
@media (max-width: 810px) {
  .intro {
    flex-direction: column;
  }
  .intro__title {
    font-size: 25px;
    line-height: 35px;
    padding: 0 0 15px 0;
  }
  .intro__subtitle {
    z-index: 0;
    font-size: 18px;
    line-height: 25px;
    padding: 0 0 25px 0;
  }
  .intro__column__first {
    padding: 0 0 30px 0;
  }
  .intro__text-block:after {
    content: "";
    background: url("/img/knight_intro.png") 0 0/45% auto no-repeat;
    position: absolute;
    z-index: 2;
    width: 195px;
    height: 263px;
    bottom: -86px;
    right: -139px;
  }
}
@media (max-width: 380px) {
  .intro__text-block {
    max-width: 280px;
  }
  .intro__text-block:after {
    background: url("/img/knight_intro.png") 0 0/100% auto no-repeat;
    width: 153px;
    height: 153px;
    bottom: 159px;
    right: -85px;
  }
  .intro__title {
    font-size: 30px;
    line-height: 36px;
    padding: 0 0 20px 0;
  }
  .intro__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 15px 0;
  }
  .intro__column__first {
    padding: 0;
    margin: 0 25px 0 0;
  }
}

.orange-button {
  display: inline-block;
  padding: 14px 0 0 5px;
  font-size: 32px;
  line-height: 38px;
}
.orange-button__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #14110F;
}
@media (max-width: 1530px) {
  .orange-button {
    height: 50px;
    width: 255px;
    padding: 0 0 0 5px;
  }
  .orange-button__text {
    font-size: 30px;
    color: #14110F;
  }
}
@media (max-width: 810px) {
  .orange-button {
    height: 63px;
    width: 293px;
    padding: 10px 0 0 5px;
    display: block;
    margin: 0 auto;
  }
  .orange-button__text {
    font-size: 28px;
    line-height: 34px;
    color: #14110F;
  }
}
@media (max-width: 380px) {
  .orange-button {
    display: block;
    margin: 0 0 37px 15px;
  }
  .orange-button__text {
    font-size: 28px;
    line-height: 34px;
    color: #14110F;
  }
}

.second {
  flex: 1 1 58%;
  margin: 0 0 0 20px;
  position: relative;
}
.second__bubble {
  font-size: 35px;
  line-height: 42px;
  display: block;
  width: 400px;
  height: 269px;
  background: #EEB519;
  border-radius: 44px;
  text-align: center;
  position: absolute;
  left: -90px;
  top: -25px;
  font-weight: 400;
  padding: 40px 0 8px 0;
  z-index: 1;
}
.second__image img {
  max-width: 100%;
  padding: 40px 0 0 20px;
}
@media (max-width: 1760px) {
  .second__bubble {
    font-size: 22px;
    line-height: 25px;
    width: 250px;
    height: 169px;
    left: -90px;
    top: -25px;
    padding: 40px 0 8px 0;
  }
}
@media (max-width: 1220px) {
  .second {
    flex: 1 1 60%;
  }
  .second__bubble {
    font-size: 15px;
    line-height: 15px;
    width: 150px;
    height: 130px;
    left: -60px;
    top: -25px;
    padding: 25px 0 8px 0;
  }
}
@media (max-width: 810px) {
  .second {
    margin: 10px 0 0 0;
  }
  .second__bubble {
    width: 155px;
    height: 104px;
    left: 160px;
    top: -28px;
    padding: 12px 0 0px 0;
    border-radius: 19px;
  }
  .second__image img {
    padding: 40px 0 0 0px;
  }
}
@media (max-width: 380px) {
  .second {
    margin: 0;
  }
  .second__bubble {
    font-size: 14px;
    line-height: 17px;
    left: 160px;
    top: -28px;
  }
  .second__image img {
    padding: 40px 0 0 0px;
  }
}

.secondb {
  margin: 207px 0 0 0;
}
.secondb__row {
  display: flex;
}
.secondb__column {
  flex: 0 1 52.4%;
  position: relative;
}
.secondb__column_second {
  flex: 1 0 45%;
}
.secondb__column_second:after {
  content: url("/img/Rabbit.png");
  position: absolute;
  bottom: -7px;
  left: 48px;
}
.secondb__image img {
  border-radius: 12%;
  width: 100%;
}
.secondb__title {
  text-align: center;
  padding: 175px 76px 100px 0;
  position: relative;
}
.secondb__title:before {
  content: "";
  background: url("/img/Rocket.png") right 0 no-repeat;
  position: absolute;
  top: -27px;
  right: 60px;
  width: 100%;
  height: 100%;
}
.secondb__text {
  max-width: 835px;
  font-size: 36px;
  line-height: 43px;
  text-align: left;
  padding: 0 0 0 54px;
}
@media (max-width: 1760px) {
  .secondb {
    margin: 130px 0 0 0;
  }
  .secondb__column_second:after {
    display: none;
  }
}
@media (max-width: 1360px) {
  .secondb {
    margin: 100px 0 0 0;
  }
  .secondb__title {
    padding: 125px 76px 55px 0;
  }
  .secondb__title:before {
    background: url("/img/Rocket.png") right 0/100% 100% no-repeat;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1210px) {
  .secondb {
    margin: 100px 0 0 0;
  }
  .secondb__title {
    padding: 80px 76px 70px 0;
  }
  .secondb__title p {
    font-size: 55px;
  }
  .secondb__title:before {
    background: url("/img/Rocket.png") right 0/80% 80% no-repeat;
  }
  .secondb__text {
    font-size: 30px;
    line-height: 33px;
    text-align: left;
    padding: 0 0 0 54px;
  }
}
@media (max-width: 810px) {
  .secondb {
    margin: 30px 0 0 0;
  }
  .secondb__row {
    flex-direction: column;
  }
  .secondb__title {
    padding: 20px 0 20px 0;
  }
  .secondb__title p {
    font-size: 50px;
  }
  .secondb__title:before {
    background: url("/img/Rocket.png") right 0/70% 70% no-repeat;
    top: -170px;
    right: 45px;
  }
  .secondb__text {
    font-size: 25px;
    padding: 0 0 0 0;
  }
}
@media (max-width: 375px) {
  .secondb__title {
    padding: 10px 0 10px 0;
  }
  .secondb__title p {
    font-size: 35px;
  }
  .secondb__title:before {
    background: url("/img/Rocket.png") right 0/50% 50% no-repeat;
    top: -100px;
    right: 0;
  }
  .secondb__text {
    font-size: 22px;
    line-height: 26px;
  }
}

.title {
  font-size: 77px;
  color: #14110F;
}

.third {
  padding: 101px 0 0 0;
}
.third__row {
  display: flex;
}
.third__column {
  flex: 0 1 50%;
}
.third__column_first {
  padding: 100px 30px 0 0;
}
.third__column_second {
  flex: 0 1 53%;
}
.third__text {
  position: relative;
}
.third__text p {
  padding: 82px 0 0 0;
  font-size: 36px;
  line-height: 43px;
  color: #14110F;
}
.third__text:after {
  content: "";
  background: url("/img/duck.png") 0 0/100% 100% no-repeat;
  position: absolute;
  width: 280px;
  height: 280px;
  left: 30%;
}
.third__image img {
  border-radius: 12%;
  width: 100%;
}
@media (max-width: 1600px) {
  .third__column_first {
    padding: 20px 30px 0 0;
  }
}
@media (max-width: 1400px) {
  .third__column_first {
    padding: 10px 30px 0 0;
  }
  .third__text p {
    padding: 62px 0 0 0;
    font-size: 30px;
    line-height: 43px;
  }
  .third__text:after {
    content: "";
    background: url("/img/duck.png") 0 0/50% 100% no-repeat;
    height: 124px;
  }
}
@media (max-width: 1220px) {
  .third__column_first {
    padding: 0 30px 0 0;
  }
  .third__text p {
    padding: 33px 0 0 0;
    font-size: 26px;
    line-height: 40px;
  }
  .third__text:after {
    content: "";
    background: url("/img/duck.png") 0 0/50% 100% no-repeat;
    height: 124px;
  }
}
@media (max-width: 810px) {
  .third {
    padding: 10px 0 0 0;
  }
  .third__row {
    flex-direction: column;
  }
  .third__column_first {
    order: 2;
    padding: 0;
  }
  .third__column_second {
    order: 1;
  }
}
@media (max-width: 400px) {
  .third__text p {
    font-size: 18px;
    line-height: 22px;
  }
  .third__text:after {
    content: "";
    display: none;
  }
}

.container {
  max-width: 1825px;
  margin: 0 auto;
  padding: 0 17px;
}

/*# sourceMappingURL=style.css.map */
