//Файл обнуляющих стилей.
@import "default";

@font-face {
  font-family: "NAMU";
  src: url("/fonts/NAMU-1850.woff") format("woff");
  src: url("/fonts/NAMU-1850.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

body {
  background-color: #FBF0D1;
  font-family: NAMU, sans-serif;
}

.header {
  // .header__row
  &__row {
    display: flex;
  }

  // .header__column
  &__column {
    flex: 0 1 33.333%;
  }

  // .header__logo
  &__logo {
    width: 132px;
    height: 132px;
    padding: 19px 0 0 0;
  }

  // .header__cloud
  &__cloud {
    display: flex;
    justify-content: end;
    padding: 12px 0 0 0;
  }

  &__second {
    position: relative;

    &:before {
      content: '';
      background: url('/img/ball.png') 0 0 no-repeat;
      position: absolute;
      z-index: 5;
      width: 268px;
      height: 268px;
      left: -89px;
      top: 33px;
    }
  }

  // .header__social
  &__social {

  }

  // .header__toggle
  &__toggle {
    width: 58px;
    height: 58px;
    background-color: #EEB519;
    border-radius: 50%;
    margin: 0 0 0 12px;

  }

  // .header__toggle-line
  &__toggle-line {

  }

  &__third {
    align-items: start;
    padding: 40px 0 0 50px;
  }

  @media (max-width: 1760px) {
    &__cloud {
      display: flex;
      justify-content: center;
    }
  }

}

.btn {
  height: 79px;
  width: 369px;
  display: inline-block;
  background-color: #EEB519;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;

}

.social {
  display: flex;

  // .social__link
  &__link {
    padding: 0 12px 0 0;

    &:nth-child(2) {
      padding: 0 16px 0 0;
    }
  }

  // .social__btn
  &__btn {
    padding: 10px 0 0 0;
    height: 58px;
    width: 305px;

    span {
      padding: 10px 0 0 0;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: #14110F;
    }
  }
}


.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // .toggle__block
  &__block {
    margin: 12px 0 0 0;
  }

  // .toggle__line
  &__line {
    display: block;
    width: 33px;
    height: 2px;
    background-color: #FBF0D1;
    border-radius: 2px;
    margin: 0 0 10px 0;
  }
}

.general {
  // .general__intro
  &__intro {
    display: flex;
    padding: 5px 0 0 0;
  }
}

.intro {

  // .intro__text-block
  &__text-block {
    position: relative;
    margin: 0 25px 0 0;

    &:after {
      content: '';
      background: url('/img/knight_intro.png') 0 0 no-repeat;
      position: absolute;
      z-index: 1;
      width: 268px;
      height: 268px;
      bottom: -117px;
      right: 125px;
    }
  }

  &__column {
    flex: 1 1 auto;

    &__first {
      padding: 36px 0 0 0;
    }
  }

  // .intro__title
  &__title {
    font-style: normal;
    font-size: 77px;
    line-height: 92px;
    color: #14110F;
    max-width: 700px;
    padding: 8px 0 49px 0;
    letter-spacing: 1px;
  }

  // .intro__subtitle
  &__subtitle {
    font-size: 36px;
    line-height: 43px;
    color: #14110F;
    max-width: 790px;
    padding: 0 0 70px 0;
  }

  // .intro__donation-button
  &__donation-button {
  }

  // .intro__image-block
  &__image-block {
    position: relative;
  }

  // .intro__image
  &__image {

    // .intro__image_center
    &_center {
      width: 100px;
      height: 100px;
      outline: 1px dashed red;
      color: #14110F;
    }
  }

  // .intro__bubble
  &__bubble {

  }

  @media (max-width: 1760px) {
    &__title {
      font-style: normal;
      font-size: 55px;
      color: #14110F;
      padding: 8px 0 49px 0;
      letter-spacing: 1px;
      line-height: 55px;
      width: 100%;
    }
    &__subtitle {
      font-size: 26px;
      line-height: 23px;
      color: #14110F;
      padding: 0 0 70px 0;
    }

    &__text-block {

      &:after {
        content: '';
        background: url('/img/knight_intro.png') 0 0 no-repeat;
        position: absolute;
        z-index: 1;
        width: 211px;
        height: 263px;
        bottom: -108px;
        right: 72px;
      }
    }
  }
}

.orange-button {
  display: inline-block;
  padding: 14px 0 0 5px;
  font-size: 32px;
  line-height: 38px;
  // .orange-button__text
  &__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #14110F;
  }

}

.second {
  flex: 1 1 58%;
  margin: 0 0 0 20px;
  position: relative;
  // .second__bubble
  &__bubble {
    font-size: 35px;
    line-height: 42px;
    display: block;
    width: 400px;
    height: 269px;
    background: #EEB519;
    border-radius: 44px;
    text-align: center;
    position: absolute;
    left: -90px;
    top: -25px;
    font-weight: 400;
    padding: 40px 0 8px 0;
    z-index: 1;
  }

  // .second__image
  &__image {
    width: 100%;
    height: 100%;
    background: url('/img/intro_big.png') 0 0/contain no-repeat;
    margin: 39px 0 0 9px;
  }

  @media (max-width: 1760px) {
    &__image {
      background: url('/img/intro_big.png') 0 0/90% 100% no-repeat;
    }
    &__bubble {
      font-size: 22px;
      line-height: 25px;
      width: 250px;
      height: 169px;
      border-radius: 44px;
      text-align: center;
      position: absolute;
      left: -90px;
      top: -25px;
      font-weight: 400;
      padding: 40px 0 8px 0;
      z-index: 1;
    }
  }
}

.container {
  max-width: 1825px;
  margin: 0 auto;
  padding: 0 17px;
}

